*, 
*:before, 
*:after {
    box-sizing: border-box;
}

.container {
    background-color: rgb(195, 172, 216);
    width: 50vw;
    height: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
}

.searchdiv,
.locationdiv,
.weathericondiv,
.weatherdiv {
    justify-self: center;
    align-self: center;
}

.searchdiv {
    grid-row: 1 / 2;
}

.locationdiv {
    grid-row: 2 / 3;
}

.weathericondiv {
    grid-row: 3 / 4;
    background-color: rgb(250, 92, 237);
    border-radius: 10px;
    box-shadow: 5px 5px 3px grey;
}

.weatherdiv {
    grid-row: 4 / 5;
}

input[type=text] {
    background-color: lightblue;
    margin: 1em;
    border-radius: 5px;
    /*box-shadow: 5px 5px 5px rgb(153, 99, 204);*/
    border-style: none;
}

